#_boxs_container {
    width: 100%;
}

#_box_production {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid $color-secondary;
    margin: .5rem 0;
    border-radius: .25rem;
    background: #fff;
    color: $color-secondary;

    img {
        height: 3.25rem;
        width: 3.25rem;
    }
    
    #_box_prod_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 5px solid $color-secondary;
        font-weight: bold;    
        font-size: 1.25rem;
        background-color: $color-progress-c;    
        height: 100%;
        padding: 1rem;
    }

    #_box_prod_center {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 150;
        margin: 0 .5rem;

        #_box_prod_name {
            font-family: "skrapbookregular";
            font-size: 1.75rem;
            margin-bottom: .5rem;
            color: $color-secondary;
        }

        .progress-bar-container {
            text-align: center;
            height: 2.25rem;
            border-radius: .25rem;
        }
        .progress-bar {
            background: linear-gradient(90deg, $color-progress-box 10%, $color-progress-box-c 50%);
            height: 100%;
        }

        #_box_prod_gainvalue {
            position: relative;
            top: -1.75rem;
            font-weight: bold;
            font-size: 1.25rem;
            font-family: '123markermedium';
            
            &::before {
                content: 'rapporte';
                font-family: "bubbleboddy_neue_trialthin";
                font-size: 1rem;
                margin-right: .2rem;
            }

            &::after {
                content: '$';
                font-family: "bubbleboddy_neue_trialthin";
                font-size: 1rem;
                margin-left: .1rem;
            }
        }

    }

    #_box_prod_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        flex-grow: 1;
        font-family: '123markermedium';

        button { margin: .25rem; }

        #_box_prod_price {
            margin: .25rem;
            font-weight: bold;

            &::after {
                content: '$';
                font-family: "bubbleboddy_neue_trialthin";
                margin-left: .1rem;
                font-size: .75rem;
            }
            
            &::before {
                content: 'coûte';
                font-family: "bubbleboddy_neue_trialthin";
                margin-right: .2rem;
                font-size: .75rem;
                font-weight: normal;
            }
        }

        button {
            padding: .25rem .5rem;
        }
    }


    #_box_buy_btn {
        font-size: 1.15rem;
        width: 3.8rem;
    }
    #_box_speed_btn {
        background-color: $color-progress-box;
        // color: #fff;
        width: 3.8rem;
        font-size: .75rem;

        &::after {
            background-color: lighten($color-hot, 2%);
        }
    
        &::before {
            background-color: lighten($color-hot, 8%);
        }
    }
    
}

