@charset "UTF-8";
#_boxs_container {
  width: 100%;
}

#_box_production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
}

#_box_production img {
  background: grey;
  height: 3rem;
  width: 3rem;
}

#_box_production #_box_prod_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#_box_production #_box_prod_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 150;
      -ms-flex-positive: 150;
          flex-grow: 150;
  margin: 0 .5rem;
}

#_box_production #_box_prod_center #_box_prod_name {
  font-family: "skrapbookregular";
  font-size: 1.5rem;
}

#_box_production #_box_prod_center .progress-bar-container {
  text-align: center;
  height: 1.75rem;
}

#_box_production #_box_prod_center .progress-bar {
  height: 100%;
}

#_box_production #_box_prod_center #_box_prod_gainvalue {
  position: relative;
  top: -1.25rem;
  font-weight: bold;
}

#_box_production #_box_prod_center #_box_prod_gainvalue::before {
  content: 'rapporte';
  font-family: "bubbleboddy_neue_trialthin";
  margin-right: .2rem;
}

#_box_production #_box_prod_center #_box_prod_gainvalue::after {
  content: '$';
  font-family: "bubbleboddy_neue_trialthin";
  margin-left: .1rem;
}

#_box_production #_box_prod_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#_box_production #_box_prod_right div {
  width: 100%;
}

#_box_production #_box_prod_right #_box_prod_price {
  margin: .25rem;
}

#_box_production #_box_prod_right #_box_prod_price::after {
  content: '$';
  font-family: "bubbleboddy_neue_trialthin";
  margin-left: .1rem;
  font-size: .75rem;
}

#_box_production #_box_prod_right #_box_prod_price::before {
  content: 'coûte';
  font-family: "bubbleboddy_neue_trialthin";
  font-size: .75rem;
  margin-right: .2rem;
}

#_box_production #_box_prod_right button {
  padding: .25rem .5rem;
}
/*# sourceMappingURL=box.css.map */