#_box_firm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
    font-family: "bubbleboddy_neue_trialregular";
    background-color: white;
    color: $color-secondary;
    box-shadow: inset 0 -2px 5px #f0f0f0;

    #_box_firm_domain {
        padding: .5rem;
        font-size: .85rem;
        background-color: $color-secondary;
        color: white;
    }
    
    #_box_firm_name {
        font-size: 1.25rem;
        margin-right: .75rem;
    }
    
}

