#_box_firm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #524439;
  border-bottom: 5px solid #524439;
  font-family: "bubbleboddy_neue_trialregular";
  background-color: white;
  color: #524439;
  -webkit-box-shadow: inset 0 -2px 5px #f0f0f0;
          box-shadow: inset 0 -2px 5px #f0f0f0;
}

#_box_firm #_box_firm_domain {
  padding: .5rem;
  font-size: .85rem;
  background-color: #524439;
  color: white;
}

#_box_firm #_box_firm_name {
  font-size: 1.25rem;
  margin-right: .75rem;
}
/*# sourceMappingURL=firm.css.map */