#_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#_people_value {
  font-size: 1.25rem;
  text-align: center;
}

#_ressource_value {
  font-size: 1.25rem;
  text-align: center;
}

#_ressource_value::after {
  content: '$';
  font-size: .85rem;
  margin-left: .15rem;
}
/*# sourceMappingURL=headBox.css.map */