%text {
    text-align: center;
    font-size: 1.5rem;
    padding: .25rem;
    font-family: '123markermedium';
} 
#_head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .75rem;
    background-color: $color-secondary;
    color: white;

    #_people_value {
        @extend %text;
        width: 50%;
    }
    
    #_ressource_value {
        @extend %text;
        width: 50%;

        &::after {
            content: '$';
            font-size: .85rem;
            margin-left: .15rem;
        }
    }

}

